    <!-- <img src="{{url_for('static', filename='temp/drawed.jpg')}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[0])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[1])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[2])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[3])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[4])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[5])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[6])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[7])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[8])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[9])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    <img src="{{url_for('static', filename=filename[10])}}" id="crop-box" style="max-width: 300px; max-height: 300px; display: block;">
    -->
